<a href="https://colab.research.google.com/github/nithyanandvk/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Nithya")
print(13+13)
name="Nithyanand"
age=20
cgpa=9.77
check=True
a=None
print("my name is",name)
print(age)
print(type(-80))
print(type(name))
print(type(age))
print(type(cgpa))
print(type(check))
print(type(a))
print(type(age)==type(100))

Hello Nithya
26
my name is Nithyanand
20
<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
True

In [ ]:
print("Hello Nithya","Good morning")
print('hello',"hello",'''hello''')
a,b=1,2
print("nithya"*5)
print(5//2)
print(5/2)
print(5%2)
print(-5%2)
"""-ve"""
print(5%-2)
print(-5%-2)  #wrong in apna college

Hello Nithya Good morning
hello hello hello
nithyanithyanithyanithyanithya
2
2.5
1
1
-1
-1

In [ ]:
x=int(input("enter age "))
if(x>=18):
  print("Elgible to vote")
elif(x>=0):
  print("Goto School")
else:
  print("you are a dinosour")

vote="yes" if(x>=18) else "no"
print(vote)
print("Good boy") if(x%2!=0) else print("Goodd boyy")

a=(10,20)[x==10]  #false,true values in brackets
print(a)

enter age 3
Goto School
no
Good boy
10

In [ ]:
p=float(input("principle "))
t=float(input("time "))
r=float(input("rate "))
si=p*t*r/100
print(si)

principle 10
time 10
rate 10
10.0

In [ ]:
a=5
b=2
print("a+b",a+b)
print("a-b",a-b)
print("a*b",a*b)
print("a/b",a/b)
print("a//b",a//b)
print("a%b",a%b)
print("a**b",a**b)
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
a+=10
print(a)
print(not True)
print(True and False)
print(True or False)

a+b 7
a-b 3
a*b 10
a/b 2.5
a//b 2
a%b 1
a**b 25
False
True
True
False
15
False
False
True